<<<<<<< HEAD
/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
=======
head {
  
}
body {
    text-align: center;
    background-color: rgb(248, 245, 147);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> e321df1 (Travel)
}

h1, h3 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="number"], select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Specific styles for the form */
#overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.detail, .arrivalDate, .terms, .completed {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.arrivalDate, .terms {
  display: none;
}
